
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");
* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body {
  background: linear-gradient(45deg, #46fcbf, #b03ffb);
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register, .login, .home{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  
}

form {
  background: white;
  padding: 3em;
  height: 550px;
  width: 600px;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  backdrop-filter: blur(10px);
  box-shadow: 30px 30px 50px -16px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  opacity: 0.85;
}
  h1 {
    font-weight: 500;
      color: grey;
      font-size: 3rem;
      margin-top: 0;
      margin-bottom: 30px;
      text-shadow: 1px 1px 2px grey;
  }



  h3{
    color: white;
  }

  
  label{
    font-weight: 500;
      color: grey;
      font-size: 1rem;
      margin-top: 10px;
      margin-bottom: 0px;
      text-align: left;
      text-shadow: 1px 1px 2px grey;
  }

  #form > .btn{
    background-color: grey;
    color: white;
    width: 300px;
    margin: auto;
    border: white;
    margin-top: 20px;
    font-size: 1.5em;
    position: center;
    cursor: pointer;
  
  }

  .login_btn, .register_btn{
    background-color: grey;
    color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: white;
    
    font-size: 1.5em;
    position: center;
    cursor: pointer;
  }
  

  .row{
    display: -moz-inline-box;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.upper_row{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    gap: 1em;
}
.bottom_row{
  display: flex;
  flex-wrap:wrap;
  width:100%;
  margin-top: 475px;
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: row;
  gap: 1em;
}

.msg{
  width:85%;
}


.picture{
  
}

.combobox{
  width: fit-content;
  padding-left: 300px;
}

  .remember{
  
    padding-right: 5px;
    font-size: 1.2em;
  }
  .box{
   
    font-size: 1.2em;
  }
  .reference{
    position:center;
    margin-left: 310px;
    cursor: pointer;
    font-size: 1.2em;
  }
 
.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.witeboard, .phone, .send, .microphone, .picture{
  cursor: pointer;
}
